.InfoWrapper {
	font-size: 18px;
	display: flex;
	align-items: center;
}

.InfoWrapper > span {
	display: inline-block;
	margin-right: 5px;
}

.UserLogo img {
	height: 50px;
}

.Content {
	font-size: 18px;
}

.Item {
	padding: 10px;
}