.Header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Logo {
	font-size: 24px;
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Logo img {
	height: 40px;
}

.SearchArea {
	background: #ffffff;
	height: 30px;
}

.SearcArea textarea {
	border: none;
	height: 30px;
	margin: 0;
}

.SearchButton img {
	width: 30px;
}
