.Header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Logo a {
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Logo img {
	height: 40px
}

.SearchForm {
	background: #ffffff;
	height: 30px;
}

.SearchForm input {
	border: none;
	height: 30px;
	margin: 0;
}

.SearchButton img {
	width: 30px;
}