.Wrapper {
	display: grid;

	/* 2 колонны: 10 'фракций' (частей) и 2 */
	grid-template-columns: 10fr 2fr;
}

.Item {
	background-color: var(--accent-color);
	margin: 5px;
	padding: 5px;
	border-radius: var(--border-radius);
}

.Link.Active,
.Link:hover {
	border-bottom: 2px solid var(--text-color);
}

.MessengerWrapper {
	display: grid;
	grid-template-rows: 60vh auto;
	align-content: space-between;
	height: stretch;
}

.MessagesWrapper {
	height: auto;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.MessagesWrapper::-webkit-scrollbar {
	width: 7px;
}

.MessagesWrapper::-webkit-scrollbar-thumb {
	width: 7px;
	background-color: #f9f9f9;
}

.MessagesWrapper .Item {
	width: fit-content;
	margin-bottom: 10px;
	padding: 10px;
}

.MessageInputArea {
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	padding: 10px;
	height: auto;
	border-radius: var(--border-radius);
	background-color: var(--accent-color);
}

.MessageInputArea .MessageInput {
	width: stretch;
	height: auto;
	resize: horizontal;
	overflow: auto;
	border-radius: var(--border-radius);
}

.MessageInputArea .MessageInput:active {
	border: none;
}

.MessageInputArea .SendButton {
	align-self: flex-end;
	width: max-content;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
}

.Avatar {
	width: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Avatar img {
	margin-right: 10px;
}
