/* переменные цветов */
:root {
	--text-color: #fff;
	--bg-color: #2e2e53;
}

body {
	background-color: #1d1d1d;
}

a {
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
}

.AppWrapper > * {
	background-color: var(--bg-color);
	padding: 10px;
}

.AppWrapper {
	min-width: 720px;
	max-width: 70%;
	margin: 0 auto;
	display: grid;

	/* хедэр занимает 2 колонны и одну строку, а сайдбар и мейн - по одной колонне */
	grid-template-areas:
		'header header'
		'sidebar main-content';

	/* 2 строки: 60 px и все остальное */
	grid-template-rows: auto 1fr;

	/* 2 колонны: 2 'фракции' (части) и 10 */
	grid-template-columns: 2fr 10fr;

	/* расстояние между дочерними блоками = 10 пикселей */
	grid-gap: 10px;
}

.Content {
	grid-area: main-content;
}
